@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1024px) {
    .inputArea {
        width: 30vw;
    }
}
@media (max-width: 768px) {
    .qrGenerator {
        width: 100%;
        height: 100%;
        background-color: #7859c0;
    }
    .inputArea {
        width: 50vw;
    }
    .button {
        width: 20vw;
    }
    .logo {
        margin-right: 10px;
    }
    .list {
        margin-left: 10px;
    }
}